.form-control{
    border-radius: 2px !important;
}
.institue {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}
.degrees{
    opacity: .9;
    font-size: .8em;
    font-weight: 400;
}
.results{
    font-size: 1rem;
    font-weight: 600;
}
.results .grade{
    padding-left: .4em;
    font-size: .8em;
    font-weight: 400;
}
p.my-color{
    margin-bottom: 0;
}
.edit-delete{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 50px;
}

.edit-delete i:hover{
    color: blue;
}