
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* navbar */
.main-con{
  max-width: 2000px !important;
  padding: 0;
  --bs-gutter-x: 0 !important;
}
#nav_con{
      position: absolute;
        top: 19px;
        z-index: 1000;
        right: 0;
        left: 0;
}
nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #f4f4f412;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0em 2em;
  border-radius: .2em;
}
a.navbar-brand{
      font-size: 30px;
        font-weight: 600;
        color: white;
}
a.nav-link{
  font-size: 22px;
  font-weight: 500;
  color: white;
}
/* navbar profile */
.profile-con img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.profile-con .dropdown-menu {
  right: 0px;
  margin-top: 45px;
}

.profile-con .dropdown-menu .dropdown-item:hover {
  background-color: blue;
}

header{
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
	z-index: 2;
}
#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #00a7ff; /* blue */
}
#logo:hover{
    color: #eef9ff; /* white */
}
#logo-s{
	color: #eef9ff; /* white */
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #00a7ff; /* blue */
}
.sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.act{
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}
.sign a:hover{
	color: #00a7ff; /* blue */
	border-color: #00a7ff; /* blue */
}
/* /1 */

/* 2 */
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
      overflow: hidden;
        margin-top: 0px;
        max-height: 65vw;

}
.myslide{
	/* height: 100vh; */
	display: none;
	overflow: hidden;
  max-height: 100vh;
}
.myslide img{
  height: auto !important;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
/* .active, */
 .showing, .dot:hover{
	border-color: #00a7ff; /* blue */
}

/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: none;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.myslide img{
	transform: scale(1,1);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 3s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */



/* Card Styles */
.card-container {
  display: flex;
	background-color: #eef9ff;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: -10px;
  padding: 20px 0;
}

.card {
  width: 280px;
  background-color: #eef9ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
	touch-action: manipulation;
	user-select: none;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 17px;
}

.btn {
  display: inline-block;
  background-color: #205792;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 17px;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.btn:hover {
  background-color: #0056b3;
}


/* about us */
.about-section{
	background: url(../images/about.jpeg) no-repeat left;
	background-size: 55%;
	background-color: cornsilk;
	overflow: hidden;
	padding: 50px 0;
	/* margin-top: 20px; */
	height: 450px;
}

.inner-container{
	width: 55%;
	float: right;
	background-color: cornsilk;
	padding: 80px;
}

.inner-container h1{
	margin-top: 0px;
	font-size: 20px;
	font-weight: 900;
}

.text{
	margin-top: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 17px;
	color: #545454;
	line-height: 20px;
	text-align: justify;
	margin-bottom: 30px;
}

.skills{
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 13px;
}

@media screen and (max-width:1200px){
	.inner-container{
			padding: 80px;
	}
}

@media screen and (max-width:1000px){
	.about-section{
			background-size: 100%;
			padding: 100px 40px;
	}
	.inner-container{
			width: 100%;
	}
}

@media screen and (max-width:600px){
	.about-section{
			padding: 0;
	}
	.inner-container{
			padding: 60px;
	}
}

/* footer */

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  padding-bottom: 8px !important;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo img {
  max-width: 120px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 21px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-cta .row .col-xl-4:nth-child(1) .single-cta i {
  position: absolute;
  color: #ff5e14;
}
.footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
  padding-left: 32px;
}
.footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
  color: #14ffa7;
}
.footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
  color: #ffd700;
}
.footer-social-icon .social_icon {
  text-align: left;
}
.footer-social-icon .social_icon li {
  /* float: inherit !important; */
  display: inline-block !important;
  width: inherit;
}
.footer-social-icon .social_icon li a i {
  font-size: 15px;
  line-height: 39px;
}
.footer-social-icon .social_icon li a {
  width: 40px;
  height: 40px;
}

.social_icon {
  text-align: right;
  margin: 0;
  margin-top: 3px;
}
.social_icon li {
  display: inline-block;
  margin: 0 5px;
}
.social_icon li a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}
.social_icon li a i {
  font-size: 15px;
  line-height: 20px;
}
.social_icon li:nth-child(1) a {
  background: #4267b2;
  color: #fff;
}
.social_icon li:nth-child(2) a {
  background: #1da1f2;
  color: #fff;
}
.social_icon li:nth-child(3) a {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #fff;
}
.social_icon li:nth-child(4) a {
  background: #ff0000;
  color: #fff;
}
.social_icon li:nth-child(1):hover a {
  background: #fff;
  color: #4267b2;
}
.social_icon li:nth-child(2):hover a {
  background: #fff;
  color: #1da1f2;
}
.social_icon li:nth-child(3):hover a {
  background: #fff;
  color: #bc1888;
}
.social_icon li:nth-child(4):hover a {
  background: #fff;
  color: #ff0000;
}

.show{
  display: block !important;
}



/* loader */
.loader-container{
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 90000;
}
.loader {
  margin: auto auto;
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

