html {
    height: 100%;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --bg: a;
    --bg2: aliceblue;
    --bg-light: aliceblue;
    --bg-light-t: aliceblue;
    --bg-dark:#293037 ;
    --bg-dark-t:#3e4043 ;
    --bg-body-l: #ccc;
    --bg-body-d: #151414;
    --color: #000000;
    /* color: aliceblue; */
}

.theme-light{
    background-attachment: fixed;
    background-color:#ccc;
}
.theme-dark{
   background-attachment: fixed;
    background-color: #151414;
}
:root{
    --side-width-pos: 250px;
    --side-width-neg: -250px;
    color: #000000;
}


.theme-light{ 
    .mybg{
        background-color: var(--bg-light);
    }
    .mybg-t {
        background-color: var(--bg-light-t);
    }
}
.theme-dark {
    .mybg {
            background-color: var(--bg-dark);
        }
    .mybg-t {
        background-color: var(--bg-dark-t);
    }
}
.my-color{
    color: var(--color);
}
.container{
    max-width: 100vw !important;
}

/*sidebar*/
#sidebar{
width: var(--side-width-pos);
height: 100vh;
top: 55px;
position: fixed;
background-color: var(--bg-light);
z-index: 30;
border: none;
}


/* navbar */
#nav_con{
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 20;
}
/* side bar and nav different color */
.theme-light #nav_con nav {
    background-color: var(--bg-light);
-webkit-box-shadow: 0 -2.5px 6px 0 #000000;
    -moz-box-shadow: 0 -2.5px 6px 0 #000000;
    box-shadow: 0 -2.5px 6px 0 #000000;
}

.theme-light #sidebar {
    background-color: var(--bg-light);
}

.theme-dark #nav_con nav {
    background-color: #293037;
-webkit-box-shadow: 0 -2.5px 5px 1px #000000;
    -moz-box-shadow: 0 -2.5px 5px 1px #000000;
    box-shadow: 0 -2.5px 5px 1px #000000;
}

.theme-dark #sidebar {
    background-color: #293037;
}



#body {
    margin-top: .6rem;
    margin-left: calc( var(--side-width-pos) );
}

.my-round{
    border-radius: 2px;
}

.profile-con img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}
.profile-con .dropdown-menu{
    right: 0px;
    margin-top: 45px;
}
.profile-con .dropdown-menu .dropdown-item:hover{
    background-color: blue;
}

#sidebar ul{
    padding: 0;
    color: var(--color);
}
#sidebar ul li {
    font-size: 16px;
}
#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: var(--color);
    text-decoration: none;
}

.theme-light #sidebar ul li.active>a{
    background-color: var(--bg-body-l);
    width: 101%;
}
.theme-dark #sidebar ul li.active>a {
    background-color: var(--bg-body-d);
    width: 101%;
}
#sidebar ul li.active>a:hover {
    background: #2f89fc;
    width: 100%;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #2f89fc;
}
#sidebar ul li .active {
    background: 0 0;
    color: #fff;
}
/* =======================================navbar================================== */


/* ===================================================
                    loader
====================================================*/
.loader-container {
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 90000;
    background-color: var(--bg-light);
}
.loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    margin: auto;
}

.loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: fade458 1s linear infinite;
}

@keyframes fade458 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

.loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
}

.loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
}

.loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
}

.loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
}

.loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
}

.loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
}

.loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
}

.loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
}

.loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
}

.loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
}

.loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
}

.loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
}

/* ==================================
============breadcrumb===============
================================== */

.breadcrumb {
    margin: 0px;
    padding: 4px;
}
.breadcrumb a{
    text-decoration: none;
    color: #1207e6;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #1207e6;
}
.breadcrumb li{
    color: #00eeff;
    padding-left: 0px;
}


/* middele body */

.my-row{
    margin: 8px 0.5px;
    padding: 10px;
}


/*================================
============== theme switch css
============================== */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #eee6fd;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}


.sidebar_btn{
    display: none;
}

@media only screen and (max-width: 991px) {
    .switch {
            margin-top: 10px;
        }
    .sidebar_btn{
        display: block;
    }
    #sidebar{
        left: -100%;
        top:0;
        transition: left ease-in-out .5s;
    }
    .sidebar_open{
        /* display: block !important; */
        left: 0 !important;
        box-shadow: var(--color) 0.01px 0.95px 2.6px;
    }
    #body{
        margin-left: auto;
    }
    #nav_con .navbar-brand{
        margin-left: 10px;
    }
    .sidebar_btn i{
        position: absolute;
        z-index: 6000;
        top: 37px;
        left: 2px;
        color: var(--color);
        opacity: 0.5;
    }
    .profile-con{
        margin-top: 5px;
    }
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    
}


/* fix toast conatainer */
.toast-container{
    position: fixed !important;
}

.btn-outline{
        --bs-btn-color: var(--color);
            --bs-btn-border-color: var(--color);
            --bs-btn-hover-color: var(--bg-light);
            --bs-btn-hover-bg: var(--color);
            --bs-btn-hover-border-color: var(--color);
            --bs-btn-focus-shadow-rgb: 13, 110, 253;
            --bs-btn-active-color: var(--bg-light);
            --bs-btn-active-bg: var(--color);
            --bs-btn-active-border-color: var(--color);
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: var(--color);
            --bs-btn-disabled-bg: transparent;
            --bs-btn-disabled-border-color: var(--color);
            --bs-gradient: none;
}

.input-group-text{
    padding: .175rem 0.75rem;
    border-radius: 0;
    min-width: 7rem;
}
.form-control{
    border-radius: 1px;
    padding: .175rem 0.75rem;
}
.form-control:focus{
    /* border: none; */
    border-bottom: 3px solid #0066ffc9;
    box-shadow: none;
    border-top: none;
        border-left: none;
        border-right: none;
    /* box-shadow: 0 0 0 .05rem rgba(0, 102, 255, 0.25); */
}

/* footer css */


 .footer-widget p {
     margin-bottom: 27px;
 }

 p {
     font-family: 'Nunito', sans-serif;
     font-size: 16px;
     color: white;
     line-height: 28px;
 }

 .animate-border {
     position: relative;
     display: block;
     width: 115px;
     height: 3px;
     background: #007bff;
 }

 .animate-border:after {
     position: absolute;
     content: "";
     width: 35px;
     height: 3px;
     left: 0;
     bottom: 0;
     border-left: 10px solid #fff;
     border-right: 10px solid #fff;
     -webkit-animation: animborder 2s linear infinite;
     animation: animborder 2s linear infinite;
 }

 @-webkit-keyframes animborder {
     0% {
         -webkit-transform: translateX(0px);
         transform: translateX(0px);
     }

     100% {
         -webkit-transform: translateX(113px);
         transform: translateX(113px);
     }
 }

 @keyframes animborder {
     0% {
         -webkit-transform: translateX(0px);
         transform: translateX(0px);
     }

     100% {
         -webkit-transform: translateX(113px);
         transform: translateX(113px);
     }
 }

 .animate-border.border-white:after {
     border-color: #fff;
 }

 .animate-border.border-yellow:after {
     border-color: #F5B02E;
 }

 .animate-border.border-orange:after {
     border-right-color: #007bff;
     border-left-color: #007bff;
 }

 .animate-border.border-ash:after {
     border-right-color: #EEF0EF;
     border-left-color: #EEF0EF;
 }

 .animate-border.border-offwhite:after {
     border-right-color: #F7F9F8;
     border-left-color: #F7F9F8;
 }

 /* Animated heading border */
 @keyframes primary-short {
     0% {
         width: 15%;
     }

     50% {
         width: 90%;
     }

     100% {
         width: 10%;
     }
 }

 @keyframes primary-long {
     0% {
         width: 80%;
     }

     50% {
         width: 0%;
     }

     100% {
         width: 80%;
     }
 }

 
 /* footer */

 .footer-section {
     background: #151414;
     position: relative;
 }

 .footer-cta {
     border-bottom: 1px solid #373636;
     padding-bottom: 8px !important;
 }

 .single-cta i {
     color: #ff5e14;
     font-size: 30px;
     float: left;
     margin-top: 8px;
 }

 .cta-text {
     padding-left: 15px;
     display: inline-block;
 }

 .cta-text h4 {
     color: #fff;
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 2px;
 }

 .cta-text span {
     color: #757575;
     font-size: 15px;
 }

 .footer-content {
     position: relative;
     z-index: 2;
 }

 .footer-pattern img {
     position: absolute;
     top: 0;
     left: 0;
     height: 330px;
     background-size: cover;
     background-position: 100% 100%;
 }

 .footer-logo img {
     max-width: 120px;
 }

 .footer-text p {
     margin-bottom: 14px;
     font-size: 14px;
     color: #7e7e7e;
     line-height: 21px;
 }

 .footer-social-icon span {
     color: #fff;
     display: block;
     font-size: 20px;
     font-weight: 700;
     font-family: "Poppins", sans-serif;
     margin-bottom: 20px;
 }

 .footer-social-icon a {
     color: #fff;
     font-size: 16px;
     margin-right: 15px;
 }

 .footer-social-icon i {
     height: 40px;
     width: 40px;
     text-align: center;
     line-height: 38px;
     border-radius: 50%;
 }

 .facebook-bg {
     background: #3b5998;
 }

 .twitter-bg {
     background: #55acee;
 }

 .google-bg {
     background: #dd4b39;
 }

.footer-widget-heading h3 {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-right: 26px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 3px solid #ff5000;
}

 .footer-widget ul li {
     display: inline-block;
     width: 50%;
     margin-bottom: 12px;
 }
 .footer-widget ul li a:hover {
     color: #ff5e14;
 }
 .footer-widget ul li a {
     color: #878787;
     text-transform: capitalize;
 }
 .subscribe-form {
     position: relative;
     overflow: hidden;
 }
 .subscribe-form input {
     width: 100%;
     padding: 14px 28px;
     background: #2e2e2e;
     border: 1px solid #2e2e2e;
     color: #fff;
 }
 .subscribe-form button {
     position: absolute;
     right: 0;
     background: #ff5e14;
     padding: 13px 20px;
     border: 1px solid #ff5e14;
     top: 0;
 }
 .subscribe-form button i {
     color: #fff;
     font-size: 22px;
     transform: rotate(-6deg);
 }
 .copyright-area {
     background: #202020;
     padding: 25px 0;
 }
 .copyright-text p {
     margin: 0;
     font-size: 14px;
     color: #878787;
 }
 .copyright-text p a {
     color: #ff5e14;
 }
 .footer-menu li {
     display: inline-block;
     margin-left: 20px;
 }
 .footer-menu li:hover a {
     color: #ff5e14;
 }
 .footer-menu li a {
     font-size: 14px;
     color: #878787;
 }
 .footer-cta .row .col-xl-4:nth-child(1) .single-cta i {
     position: absolute;
     color: #ff5e14;
 }

 .footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
     padding-left: 32px;
 }

 .footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
     color: #14ffa7;
 }

 .footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
     color: #ffd700;
 }

 .footer-social-icon .social_icon {
     text-align: left;
 }

 .footer-social-icon .social_icon li {
     /* float: inherit !important; */
     display: inline-block !important;
     width: inherit;
 }

 .footer-social-icon .social_icon li a i {
     font-size: 15px;
     line-height: 39px;
 }

 .footer-social-icon .social_icon li a {
     width: 40px;
     height: 40px;
 }

 .social_icon {
     text-align: right;
     margin: 0;
     margin-top: 3px;
 }

 .social_icon li {
     display: inline-block;
     margin: 0 5px;
 }

 .social_icon li a {
     display: inline-block;
     width: 25px;
     height: 25px;
     background: #fff;
     color: #000;
     text-align: center;
     border-radius: 100%;
     transition: 0.2s ease-in-out;
 }

 .social_icon li a i {
     font-size: 15px;
     line-height: 20px;
 }

 .social_icon li:nth-child(1) a {
     background: #4267b2;
     color: #fff;
 }

 .social_icon li:nth-child(2) a {
     background: #1da1f2;
     color: #fff;
 }

 .social_icon li:nth-child(3) a {
     background: #f09433;
     background: -moz-linear-gradient(45deg,
             #f09433 0%,
             #e6683c 25%,
             #dc2743 50%,
             #cc2366 75%,
             #bc1888 100%);
     background: -webkit-linear-gradient(45deg,
             #f09433 0%,
             #e6683c 25%,
             #dc2743 50%,
             #cc2366 75%,
             #bc1888 100%);
     background: linear-gradient(45deg,
             #f09433 0%,
             #e6683c 25%,
             #dc2743 50%,
             #cc2366 75%,
             #bc1888 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
     color: #fff;
 }

 .social_icon li:nth-child(4) a {
     background: #ff0000;
     color: #fff;
 }

 .social_icon li:nth-child(1):hover a {
     background: #fff;
     color: #4267b2;
 }

 .social_icon li:nth-child(2):hover a {
     background: #fff;
     color: #1da1f2;
 }

 .social_icon li:nth-child(3):hover a {
     background: #fff;
     color: #bc1888;
 }

 .social_icon li:nth-child(4):hover a {
     background: #fff;
     color: #ff0000;
 }

 .show {
     display: block !important;
 }

 /* editing bootstrap classes */
 .modal.show{
        backdrop-filter: blur(1px);
 }
 .modal-content{
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }

 .modal-body label{
    font-size: .9em;
    padding-bottom: .3em;
    padding-left: .3em;
 }

 .btn{
    padding: .2em .4em;
 }